asgiref==3.4.1
pip install==1.14.6
colorama==0.4.4
cryptography==3.4.7
Django==3.2.5
django-appconf==1.0.4
django-axes==5.20.0
django-cryptography==1.0
django-ipware==3.0.2
lxml==4.6.3
pycparser==2.20
pytz==2021.1
sqlparse==0.4.2
